<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Daniel Heß - initial API and implementation
 *
 * A demo CAV configuration with lane change behavior.
 ********************************************************************************-->
<launch>
    <include ns="PARAMS"   file="$(dirname)/../parameters/default.launch"/>
    <node name="vmodel"    pkg="adore_if_ros" type="adore_vehiclemodel_node" output="screen"/>
    <node name="smodel"    pkg="adore_if_ros" type="adore_objectdetectionmodel_node"/>
    <node name="lmap"      pkg="adore_if_ros" type="adore_mapprovider_node"/>
    <node name="tracker"   pkg="adore_if_ros" type="adore_feedbackcontroller_node"/>
    <node name="planner_lc" pkg="adore_if_ros" type="test_lc_trajectory_planner_node" output="screen"/>
    <node name="lnav"         pkg="adore_if_ros" type="adore_navigation_node"/>
    <node name="lvprovider"   pkg="adore_if_ros" type="adore_lvprovider_node"/>
    <node name="predictor"   pkg="adore_if_ros" type="adore_prediction_provider" output="screen"/>
    <node name="predictionFilter"  pkg="adore_if_ros" type="adore_prediction_filter" output="screen">
       
        <remap from="ENV/Prediction/expected" to="ENV/Prediction/worstcase"/>
    </node> 
    <node name="monitor"  pkg="adore_if_ros" type="adore_monitor0_node"/>
</launch>