
 <!--********************************************************************************
  Lane Following with multiple sumo vehicles 
  Track:freeway_90_2_spur
 ********************************************************************************-->
<launch>
  <group ns="vehicle2">
    <arg name="record_rosbag" default="true" />
  <!-- this starts the rosbag recording - name of the bag should be same as launchfile -->
    <node pkg="rosbag" type="record" name="sim_rosbag_recorder" args="record -O /home/outputdir/build/test_ci_2.bag -a"
       if="$(arg record_rosbag)" />
    <param name="/PARAMS/SIM/timeout" value="60.0" type="double"/>
    <param name="/PARAMS/SIM/outputfile" value="/home/sd/outputdir/results.txt" type="str"/>
  <!-- this node is important to have the scenario stop at time /PARAMS/SIM/timeout -->
    <node pkg="adore_if_ros" name="terminator" type="adore_ci_terminator_node.py" output="screen" required="true"/>
  <!-- this node generates clock signal -->
    <node name="timer" pkg="adore_if_ros" type="adore_timer_node" output="screen" required="true"/>
  <!-- this node generate sumo-->
    <node name="sumotraffic2ros_node" pkg="sumo_if_ros" type="sumotraffic2ros_node" /> <!--launch-prefix="xterm -e " output="screen" -->
  <!-- Load sut Parameter -->
    <include file="$(dirname)/sut.launch"/>
  <!-- load Track , map Parameter -->
    <param name="PARAMS/map_provider/activate_plotting" value="false" type="bool" />
    <param name="PARAMS/track" value="$(dirname)/../tracks/freeway_90_2_Spur.xodr" type="str" />
  <!-- assign sim id -->
    <param name="simulationID" value="0" type="int" />  
  <!-- do not start anything that tries to plot -->
    <!--node pkg="adore_if_ros" name="plotter" type="adore_borderbird_node"/-->
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle2/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 0, y: -5, z: 0},orientation: { w: 1}}'"/>
    <!-- change speed parameter of ego vehicle -->
    <param name="PARAMS/tactical_planner/global_speed_limit" value="30" type="double" />  
  <!-- set the goal position -->
    <node pkg="rostopic" type="rostopic" name="navgoal" args="pub /vehicle2/ENV/NavigationGoal adore_if_ros_msg/NavigationGoal '{target: {x: 1000, y: -2, z: 0}}'"/>
      <!-- Load Sumo params-->
    <arg name="sumocfg" value="$(dirname)/../tracks/freeway_90_2_Spur.sumocfg"/>
    <arg name="sumohome" value="$(env SUMO_HOME)"/>
    <arg name="traciport" value="1337"/>
    <arg name="sumostep" value="0.01"/>
    <node name="sumo" pkg="sumo_if_ros" type="start_sumo.sh" args="$(arg sumohome) $(arg sumocfg) $(arg traciport) $(arg sumostep)"/> <!--launch-prefix="xterm -e " output="screen" -->
  </group> 
</launch>

